<h1 style="color: #0E99DA; margin-top: -30px;"><%= @business.business_name %> <%= @business.industry %></h1>
<h2 style="color: #14A085; margin-top: -20px;"> Points Earned: <%= @business.business_points_earned %></h2>
<h3> Points Posted: <%= @business.business_points_posted %></h3>

<% if current_business %>
             <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-Captain-America-Gravatar.png"), current_business, ) %>
<% end %>

<%= link_to "Post", new_business_post_path(@business), :class => "btn-3d red" %>

<br />
	<%= @business_heroes %>
<br />

<h3>My Good Deeds</h3>

<% @business.posts.reverse_each do |post| %>

	<br />
	<%= post.post_title %>
	<br />
	<h3><%= post.points %> Points</h3>
	<br />
	<%= post.description %>
	<br />

<% end %>
