<h1>Listing prof_pics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prof_pics.each do |prof_pic| %>
      <tr>
        <td><%= prof_pic.name %></td>
        <td><%= prof_pic.description %></td>
        <td><%= prof_pic.picture %></td>
        <td><%= link_to 'Show', prof_pic %></td>
        <td><%= link_to 'Edit', edit_prof_pic_path(prof_pic) %></td>
        <td><%= link_to 'Destroy', prof_pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prof pic', new_prof_pic_path %>
