<%= form_for @user do |u| %>


<p>
  <%= radio_button_tag(:age, "child") %>
  <%= label_tag(:age_child, "I am younger than 21") %>
  <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "I'm over 21") %>
  <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "I'm over 21") %>
</p>

<p>
	<%= u.text_field :first_name, :placeholder => 'First Name', class: "sign_up_text" %>
</p>

<p>
	<%= u.text_field :last_name, :placeholder => 'Last Name', class: "sign_up_text" %>
</p>


<p>
	<%= u.text_field :email, :placeholder => 'Your Email', class: "sign_up_text" %>
</p>

<p>
	<%= u.password_field :password, :placeholder => 'New Password', class: "sign_up_text" %>
</p>

<p>
	<%= u.password_field :password_confirmation, :placeholder => 'Re-enter Password', class: "sign_up_text" %>
</p>



<% if @user.photo.blank? == false %>
  <p>
    <%= image_tag @user.photo.url(:medium) %>
  </p>
  <% end %>
    <p>
  	<%= u.label :photo  %> <br>
    <%= u.file_field :photo %>
  </p>


<%= u.submit 'Sign Up', :class => "btn-3d red" %>


<% end %>
