<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<% if current_user %>
             <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/10/Civly-Hero-Captain-America-Gravatar.png"), current_user, ) %>
<% end %>

<%= link_to "Post", new_user_post_path(@user), :class => "btn-3d red" %>
<br />
<h5><%= @user.email %></h5>
<br />

<br />



<h2>My Good Deeds</h2>

Total Points: <%= @user.user_points %>

<% @user.posts.reverse_each do |post| %>

	<br />
	<%= post.post_title %>
	<br />
	<h3><%= post.points %> Points</h3>
	<br />
	<%= post.description %>
	<br />

<% end %>

