<%= link_to "Post", new_user_post_path(@user), :class => "btn-3d green" %>
<br />
<%= @user.email %>
<br />
<%= @user._id %>
<br />

<% @user.posts.reverse_each do |post| %>

	<br />
	<%= post.post_title %>
	<br />
	<h3><%= @post.points %></h3>
	<br />
	<%= post.description %>
	<br />

<% end %>

