<%= @post.post_title %> 
<%= link_to 'Act', change_status_path( :id => @post.id), :class => "btn-3d green" %>
<br />
<b>Civly Status: <h2><%= @post.status %></h2></b>
<br />

<h3><%= @post.points %></h3>
<br />
<%= @post.description %>

