      <a href="/" class="navbar-brand" style="float: left;">
          <img alt="Civly" src="http://cloud-media.com/wp-content/uploads/2013/10/civly-beta-navbar-logo-2013-2.png">
      </a>


<!-- // Full-Width Navbar -->

<ul class="nav pull-right">
               <li style="width: 75px;">
                      <% if current_user == nil %>
                        <li style="font-size: 10px; margin-right: 10px; width: 100px;">
                         <%= link_to "Log In", "authentications/new", :class => "login_btn" %>
                      <% end %>
                    </li>
                  </li>

             <li class="active">
              <% if current_user %>
                       <%= link_to(image_tag("http://icons.iconarchive.com/icons/deleket/superhero-avatar/64/Avengers-Captain-America-icon.png"), current_user, :class => "profile_link") %>
              <% end %>
                       
                     
                <ul>
                  
                  <li style="width: 75px;">
                    <%= link_to 'Profile', current_user %>
                    <ul>
                    </ul> <!-- /Sub menu -->
                  </li>

                  <li style="width: 75px;">
                  <%= link_to 'Edit Profile', edit_user_path(@user) %>
                </li>

            

                  <li style="width: 75px;">
                    <a href="/all_users">Friends</a>
                  </li>

                  <li style="width: 75px;">          
                      <% if current_user %>
                        <%= link_to "Log Out", logout_path %>
                      <% end %>
                    </li>
                  </ul> <!-- /Sub menu -->

                  
                </li>
         </ul>

<!-- // Responsive Collapsible Navbar -->

<!--     <div class="nav-collapse"> -->
          <ul class="nav navbar-nav navbar-right">

            <li class="active">
                <a href="pages/heroes">
                  Heroes
                  <span class="navbar-unread">1</span>
                </a>
                <ul>

                  <li>
                    <a href="/all_users">Local Heroes</a>
                  </li>
                  
                  <li>
                    <%= link_to 'Civly Celebrities', page_path('celebrities') %>
                    <ul>
                      <li><span style="color: #45BEA6;">3,265 Celebrities Supporting Charities</span>
                      </li>
                      <li><a href="#fakelink">Will.I.Am</a></li>
                      <li><a href="#fakelink">Paul Walker</a></li>
                      <li><a href="#fakelink">Bono</a></li>
                      <li><a href="#fakelink">Bill Clinton</a></li>
                      <li><a href="#fakelink">Elton John</a></li>
                      <li><a href="pages/sponsors"><span style="color: #F1EE7C;">See All...</span></a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                </ul> <!-- /Sub menu -->
            </li>


            <li class="active">
                <a href="pages/patrons">
                  Patrons
                  <span class="navbar-unread">1</span>
                </a>
                <ul>
                  
                  <li>
                    <%= link_to 'Local Offers', page_path('offers') %>
                    <ul>
                      <li><span style="color: #45BEA6;">Local Patrons</span>
                      </li>
                      <li><a href="#fakelink">Whole Foods</a></li>
                      <li><a href="#fakelink">Ben & Jerry's</a></li>
                      <li><a href="#fakelink">Starbucks</a></li>
                      <li><a href="#fakelink">Novel Cafe</a></li>
                      <li><a href="#fakelink">Hummus Bar</a></li>
                      <li><a href="pages/sponsors"><span style="color: #F1EE7C;">See All...</span></a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                  <li>
                    <%= link_to 'Online Offers', page_path('offers') %>
                    <ul>
                      <li><span style="color: #45BEA6;">Online Patrons</span>
                      </li>
                      <li><a href="#fakelink">iTunes</a></li>
                      <li><a href="#fakelink">ShopStyle</a></li>
                      <li><a href="#fakelink">GrubHub</a></li>
                      <li><a href="#fakelink">Gilt</a></li>
                      <li><a href="#fakelink">CandyCrush</a></li>
                      <li><a href="pages/sponsors"><span style="color: #F1EE7C;">See All...</span></a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                </ul> <!-- /Sub menu -->
            </li>


            <li class="active">
                <a href="pages/community">
                  Community
                  <span class="navbar-unread">1</span>
                </a>
                <ul>
                  <li>
                    <%= link_to 'Charities', page_path('charities') %>
                    <ul>
                      <li>
                        <span style="color: #45BEA6;">1,970 Charities With Celebrity Supporters</span>
                      </li>
                      <li><a href="#fakelink">Make A Wish</a></li>
                      <li><a href="#fakelink">I.Am.Angel</a></li>
                      <li><a href="#fakelink">UNICEF</a></li>
                      <li><a href="#fakelink">Save The Children</a></li>
                      <li><a href="#fakelink">ROWW</a></li>
                      <li><a href="#fakelink">PETA</a></li>
                      <li><a href="#fakelink">Save The Music</a></li>
                      <li><a href="pages/charities"><span style="color: #F1EE7C;">See All...</span></a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                  <li><a href="#fakelink">Government</a></li>
                  <li><a href="#fakelink">Schools</a></li>
                  <li><a href="#fakelink">Non-Profits</a></li>
                </ul> <!-- /Sub menu -->
            </li>
            
            <li class="active">
                <a href="/all_posts">
                  Causes
                  <span class="navbar-unread">1</span>
                </a>
                <ul>
                  <li><a href="#fakelink">Local</a></li>
                      <li><a href="#fakelink">Health</a></li>
                      <li><a href="#fakelink">Education</a></li>
                      <li><a href="#fakelink">Poverty</a></li>
                      <li><a href="#fakelink">Environment</a></li>
                      <li><a href="#fakelink"><span style="color: #F1EE7C;">See More...</span></a></li>
                </ul>
              </li>

             <li class="active">
                <a href="#fakelink">
                  How To
                  <span class="navbar-unread">1</span>
                </a>
                <ul>
                  <li>
                 
                      
                      <li><a href="#fakelink">Be A Hero</a></li>
                      <li><a href="#fakelink">Be A Patron</a></li>
                      <li><a href="#fakelink">Redeem Coins</a></li>
                      <li><a href="#fakelink">Start A Group</a></li>
                      <li><%= link_to 'Share Your Badge', page_path('badges') %></li>
                    </ul> <!-- /Sub menu -->
                  </li>

                </ul> <!-- /Sub menu -->
            </li>

          </ul>

          
    </div> <!-- //container  -->
 <!--  </div> --> <!-- //navbar -->







