<ul class="nav">
  <li><a href="/">
      <img alt="Civly" src="http://cloud-media.com/wp-content/uploads/2013/10/civly-beta-navbar-logo-2013-2.png">
    </a></li>
  <li><%= link_to 'Heroes', page_path('heroes') %></li>
  <li><%= link_to 'Activism', page_path('activism') %></li>
  <li><%= link_to 'Badges', page_path('badges') %></li>
  <li><%= link_to 'Causes', page_path('causes') %></li>
  <li><%= link_to 'Mission', page_path('mission') %></li>
</ul>











