<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Civly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Civly" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "flat-ui", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "flat-buttons", media: "all", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <script src="/path/to/masonry.pkgd.min.js"></script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "5c3e4322-06e5-4753-a9be-9ea7dcc6adba", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
  </head>


  <body>
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

    <br />
    <br />
    <main role="main">

      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
